.jonathan {
    text-align: center;
    text-transform: uppercase;
    background-color: white;

}


.curso {
    color: red;
    background-color: black;
}

.imagem {
    width: 500px;
    height: 300px;
    margin: 2%;
}

.capa {
    width: 200px;
    height: 300px;
}

.corpo {
    background-color: black;
    color: black;
    margin: auto;
}

p {
    color: white;
}

.subtitulo {
    background-color: white;
    color: black;
    text-transform: uppercase;
}

.titulolista {
    text-align: right;
    margin: 2%;
}

.lista {
    text-align: right;
    margin: 2%;
}

.informativo {
    margin: 2%;
}

.texto {
    margin: 2%;
}

